	% Configuration for FIR generation		% Set this to installation directory	FIRGEN_DIR = ''; 			% Optimization options	% These are only needed if the ILP reduction tree generation is used		% Verbose display during optimization (0 or 1)	OPT_DISPCMD = 0;		% Path to the GLPK solver 'glpsol'	OPT_GLPSOL = 'glpsol';		% Path to the scip solver	OPT_SCIP = 'scip';		% Optimizer limits: max number of stages, max time in sec, max memory in MB	OPT_MAXSTAGES = 20;	OPT_MAXTIME = 1800;	OPT_MAXMEM = 1000;			% Simulation script generation options (for Modelsim)		% Initialization command	SIM_INIT = 'vlib work';		% Compilation command	SIM_COMPILE = 'vcom';		% Simulation command	SIM_SIMULATE = 'vsim';			% Synthesis script generation options (for design compiler)	SYNTH_CMD = 'dc_shell-t -f dc.cmd';	